@using ASP.Server.Controllers
@model EditBookModel
@{
    ViewData["Title"] = "Edit a book";
}
<style>
.input-group {
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
input, textarea, select {
    flex-basis:85%;
}
label {
    flex-basis:10%;
}
</style>

<form asp-controller="Book" asp-action="Update">
    <input asp-for="Id" type="hidden" />
    <div class="input-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" required />
    </div>
    <div class="input-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" required/>
    </div>
     <div class="input-group">
        <label asp-for="Author"></label>
        <textarea asp-for="Author" required></textarea>     
    </div>
    <div class="input-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" required/>
    </div>
    <div class="input-group">
        <label asp-for="Genres"></label>
        <!--Si la page rend une erreur a cette ligne, c'est que vous n'avez pas envoyé la liste des genres dans le Controller !!! ! -->
        <select asp-for="Genres" asp-items="@(new SelectList(Model.AllGenres,"Id","Name"))">
        </select>
    </div>
   <!-- Code pour ajouter les genres -->
    <input type="submit" value="Edit" style="width: 100%; margin-top: 50px" />
</form>
                        