@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <h1 class="display-4">to the</h1>
      <h1 class="display-4">LIBRARY</h1>
      <footer >
       <p>C#/.NET MBDS project; made by Dubuche Kevin, Langate Gaston && Théodore Barbara</p>
          </footer>

</div>


